

@media (max-width: 1200px) {
	header nav {position: fixed;top: 0;left: 0;width: 210px;height: 100%;background-color: #e06925;padding: 25px 20px;opacity: 0;visibility: hidden;z-index: 0}
	header nav.active {opacity: 1;visibility: visible;z-index: 9999;}
	header nav ul li {float: left;width: 100%;text-align: left;padding: 0 0 5 5;cursor: pointer;}
	header nav ul li a{font-size: 18px !important;}
	header nav ul li:hover {
		background-color: #FFA500;
	}
	header nav ul li span {display: inline-block;margin-right: 10px;}
	.widget-about h3 {font-size: 16px;}
	.widget-about span {font-size: 13px;}
	.job-details {width: 100%;}
	.job-details h3 {line-height: 18px;}
	.sd-title h3 {font-size: 15px;}
	.hr-rate {margin-top: 10px;}
	nav ul ul {left: 50%;top: 0;border: 1px solid #e4e4e4;padding-left: 20px;padding-right: 20px;}
}


@media (max-width: 991px) {
	/* main {padding: 20px 0 60px 0;} */
	.user-specs span {font-size: 13px;}
	.job-details {width: auto;}
	.hr-rate {margin-top: 15px;}
	.right-sidebar {margin-top: 50px;}
	.no-pd {padding: 0;}
	.widget-jobs{display:none;}
}


@media (max-width: 768px) {
	.pr_dog_klasa {padding-left: 10%; padding-right: 10%; padding-top: 80px;}
	.no-pd {padding: 0;}
	/* .user-profile{display:none !important;}
	.user-fw-status{display:none !important;} */
}


@media (max-width: 576px) {
	.pr_dog_klasa {padding-left: 4%; padding-right: 4%; padding-top: 120px;}
	.logo {width: 100%;text-align: center;}
	.logo img {float: none;}
	.user-account {float: left;}
	.job-details {width: 80%;}
	.like-com li {margin-right: 5px;}
	/* main {padding: 20px 0 40px 0} */
	.like-com li {float: left;}/*margin-bottom: 15px;width: 100%;*/
	.job-status-bar > a {float: left;width: 100%;margin-top: -5px;}
	.user-account-settingss {right: auto;left: 0;}
}

	@media (max-width: 1015px)
{
    /* .pr_dog_klasa {padding-left: 20%; padding-right: 20%; padding-top: 80px;} */
}

@media (max-width: 410px) {
	.pr_dog_klasa {padding-left: 4%; padding-right: 4%; padding-top: 120px;}
	.komentardiv,
  .prijavidiv {padding: 10px 4px;text-align: center;}
	.like-com li a{white-space: nowrap;}
	/* .like-com li img {display: none;} */
	.post-st ul li a {font-size: 12px;padding: 0 6px;}
	.like-com li a {font-size: 14px;}
	.job_descp h3 {font-size: 16px;}
}

@media (max-width: 400px)
{
	.like-com li img {display: none;}
}


